.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
@media (max-width: 1120px) {
	.wrapper {
		max-width: 800px;
	}
}

.header {

    line-height: $base-font-size * 2;
	padding: 10px;
	margin: 0;
	background-color: $header-bg;
	padding: 10px;
	margin: 0;

	&:after {
		clear: both;
		content: ' ';
		display: block;
	}

	.site-title {
		float: left;
		color: $header-fg;
		text-decoration: none;
		font-size: $base-font-size;
		line-height: $base-font-size * 2;
	}

	.site-blog {
		float: left;
		color: $header-fg;
		text-decoration: none;
		font-size: $base-font-size;
		line-height: $base-font-size * 2;
		margin-left: 22px;
	}


	.site-nav {
		text-align:right;

		a {
			text-decoration: none;
			color: $header-link;
			padding: 5px 20px;
			white-space: nowrap;

			&:hover, &:focus {
				background: #FFF;
				color: $header-bg;
			}
		}


		.circle{
			border:1px solid #FFF;
			-moz-border-radius:75px;
			-webkit-border-radius: 75px;
		}
	}
}

.page-content {
	background:#72BF69;
	padding: 90px 0;
	width:100%;

	.wrapper {
		position: relative;
		background: #F9FCF9;
		box-shadow: 0 1px 4px #999;
		outline: 1px solid #CCC;
		&:after {
			clear:both;
			content: '';
			display:block;
		}
		&:before {
			content: '';
			display:block;
			position: absolute;
			width: 300px;
			height: 100%;
			left: 000px;
			top: 0;
			background: #1aad6c;
		}
	}

	img {
		max-width:100%;
	}
}

// Colum
.col-main {
	position: relative;
	box-sizing: border-box;
	padding: 30px;
	width: 900px;
	float: left;
}
.col-second {
	position: relative;
	box-sizing: border-box;
	float: left;
	width: 300px;
	padding: 20px;
	background: #1aad6c;
}
.col-box{
	color: #FFF;
	font-size: $small-font-size;
	padding-bottom: 20px;

	p {
	    margin: 0;
	}
    ul {
        padding-left: 20px;
        margin: 0;
    }

	&:not(:first-child) {
    	border-top: 1px solid #FFF;
    	padding-top: 20px;
    }

    .col-box-title {
    	color: #FFF;
	    margin-bottom: 10px;
	    font-size: $small-font-size * 1.1;
    }
		.list-unstyled{
			margin-left: -18px;
		}
}
@media (max-width: 1120px) {
	.page-content .wrapper:before {
		display: none;
	}
	.col-main,
	.col-second {
		width: auto;
		float: none;
	}
	.col-box {
		width: 50%;
		float: left;
		margin-bottom: 05px;
	}
	.col-box:not(:first-child) {
		border-top: none;
		padding-top:0;
	}
	.col-second:after {
		clear: both;
		display: block;
		content: ' ';
	}
}
.col-box-author {
	text-align: center;
	.avatar {
		width: 135px;
		height: 135px;
		border-radius: 100%;
		margin: 20px auto;
		display: block;
	}
	.name {
		font-size: $base-font-size;
	}


	.social a{
	    background: #fff;
		width: 36px;
		height: 36px;
		display: inline-block;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		color: #fff;
		text-align: center;
	 }

	.social a:hover {
	  background: #bed8c7;
	}

	.fa {
      color: #2a5b8e;
    }

    .social a .fa {
		font-size: 20px;
		padding-top: 7px;
	}


	.list-inline {
	    margin: 20px 10px;
  	    text-align: center;
	    padding-left: 0;
	    margin-left: -5px;
	    list-style: none;
	    display: inline-block;
    }
}

// footer
.footer {
	padding: 30px 0;
	background-color: #72BF69;
	text-align:center;
	color:#FFF;
	font-size:$small-font-size;
}

@import "post", "home";

@include media-query($on-laptop) {
	.page-content {
		padding: 0;
	}
	.footer {
		padding: 10px 0 ;
	}
}
@include media-query($on-palm) {
	.header {
		&, .site-nav{
			text-align:center;
		}
		.site-title {
			float: none;
		}
		.site-blog {
			float: none;
		}
	}
	.col-main {
		padding: 10px;
	}
	.col-box {
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	pre {
		padding: 10px;
	}
}
