body {
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}
a {
	text-decoration: none;
	color: #036;
}
a:hover, a:focus {
	text-decoration:underline;
	color: #069;
}

blockquote {
	background: #FFF;
	margin:0;
	padding: 5px 20px;
	border-left: 10px solid #CCC;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}