.col-main{
    text-align:center ;
}
.notfound h1{
	font-family: 'Lobster', cursive ;
	font-size: 200px ;
	color:#709363 !important;
	text-shadow:1px 1px 6px #fff ;
	border-bottom: 0px !important;
}
.notfound p{
	color:#1AAD6C ;
	font-size: 30px ;
	margin-top:1px ;
	border-bottom: 15px ;
}
.sub a{
	color:white;
	background:#289C61 ;
	text-decoration:none;
	padding:0.5em 6em;
	font-size:20px;
	font-family: arial, serif;
	font-weight:bold;
	-webkit-border-radius:3em;
	-moz-border-radius:.1em;
	-border-radius:.1em;
}

@media (max-width: 1200px) {

	.sub a{
		font-size: 0.8em;
		padding:0.5em 3em;
	}
	.notfound p{
		font-size: 1.5em ;
	}

	.notfound h1{
		font-size: 10em ;
	}

}
