
<!DOCTYPE html>
<html>
{% include head.html %}

<body>

	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<div class="col-second">
				{% include sidebar.html %}
			</div>
			<div class="col-main">
				<div class="wrap">
					<div class="logo">
						<h1>404</h1>
						<p>Error! - Page Not Found</p>
						<div class="sub">
							<p><a href="#">Back</a></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	{% include footer.html %}

</body>

</html>
