
<!DOCTYPE html>
<html>
{% include head.html %}

<link rel="stylesheet" href="{{ "/css/404.css" | prepend: site.baseurl }}">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<body>

	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<div class="col-second">
				{% include sidebar.html %}
			</div>
			<div class="col-main">
				<div class="wrap">
					<div class="notfound">
						<h1>404!</h1>
						<p>Error! - Page Not Found</p>
						<div class="sub">
							<p><a href="{{ site.baseurl }}/">Home</a></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	{% include footer.html %}

</body>

</html>
